<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Shaadi</title>
  <link rel="stylesheet" href="/home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <header>
    <div class="logoname">    <img src="/images/Logo1.jpeg" alt="Logo" class="logo-img" />
      <h1 class="logo"><a href="/">SHAADIWALI</a></h1></div>

    <nav>
      <a href="/"><i class="fa-solid fa-house"></i>Home</a>
      <% if (!user) { %>
        <a href="/signup"><i class="fa-solid fa-user-plus"></i>Signup</a>
        <a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
      <% } else { %>
        <a href="/people"><i class="fa-solid fa-person"></i>People</a>
        <a href="/pricing"><i class="fa-solid fa-tag"></i>Pricing</a>
        <a href="/profile/<%= userProfile ? userProfile._id : (user ? user._id : '') %>"><i class="fa-solid fa-circle-user"></i>Profile</a>
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
      <% } %>
      <div class="logo2">
        <img src="/images/Logo2.jpeg" alt="Logo" class="logo2-img" />
      </div>
    </nav>
  </header>

  <%- body %>

</html>



