<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Shaadi</title>
  <link rel="stylesheet" href="/home.css" />
</head>
<body>
  <!-- Navbar included here -->
  <header>
    <h1 class="logo"><a href="/">SHAADI</a></h1>
    <nav>
        <a href="/">Home</a>

        <% if (!user) { %>
          <!-- Show when NOT logged in -->
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
        <% } else { %>
          <!-- Show when logged in -->
           <a href="/people">people</a>
          <a href="/logout">Logout</a>
        <% } %>
    </nav>
  </header>

  <!-- Dynamic content -->
  <%- body %>
</body>
</html>
