
<%- layout("/layouts/navbar.ejs")%>
<link rel="stylesheet" href="/chat_room.css">
<div class="chat-container">
    <div class="chat-header">
      Chat Room
      <span>5 Online</span>
    </div>

    <div class="chat-messages">
      <div class="message received">Hello! 👋</div>
      <div class="message sent">Hey! How are you?</div>
      <div class="message received">I’m good, thanks. You?</div>
    </div>

    <div class="chat-input">
      <input type="text" placeholder="Type your message..." />
      <button>Send</button>
    </div>
  </div>



<%-include("layouts/footer.ejs") %>