footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 18%;
}

.footer-section h4 {
    font-size: 1.2em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-note {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}

.logo-img-bot{
    width: 50px;   /* adjust as you like */
    height: 50px;
    object-fit: contain;
    margin-left: 25px;
}